.custom_main_product-section_wrapper {
    display: block;
    padding: 48px 20px;
    background: #FCF4EE;
    font-family: var(--font-body-family);
}

.custom_main_product-section_wrapper {
    p,
    h1,
    h2,
    h3 {
        margin: 0;
        font-family: var(--font-body-family);
    }    
}

.custom_main_product-images_container {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.custom_main_product-swiper {
    width: 100%;
}

.custom_main_product-thumbnails_wrapper {
    display: flex;
    gap: 8.5px;
    width: 100%;
}

.custom_main_product-thumbnail {
    padding: 1px;
    width: auto !important;
    height: auto !important;
    border: 1px solid transparent;
}

.custom_main_product-thumbnail.swiper-slide-thumb-active {
    border: 1px solid #61402E;
}

.custom_main_product-main_image img {
    display: block;
    width: 100%;
    height: auto;
}

.custom_main_product-thumbnail img {
    width: 41px;
    height: auto;
    display: block;
}

.custom_main_product-icons_wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; 
    justify-content: center;
}

.custom_main_product-icon {
    width: 25vw;
}

.custom_main_product-icon img {
    width: 100%;
    display: block;
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #FCF4EE;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.custom-swiper-button-prev {
    left: 8px;
}

.custom-swiper-button-next {
    right: 8px;
}

.custom-swiper-button-next::after,
.custom-swiper-button-prev::after {
    display: block !important;
    width: 8px;
    height: 16px;
}

.custom_main_product-reviews {
    display: flex;
}

.custom_main_product-stars {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    margin-right: 8px;
}

.custom_main_product-what_is_inside-item_title {
    display: flex;
    align-items: center;
}

.custom_main_product-what_is_inside-icon {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.custom_main_product-product_info {
    margin-top: 32px;
}

.custom_main_product-variant_color {
    display: flex;
    gap: 12px;
}
  
.custom_main_product-color_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.custom_main_product-color_label input {
    display: none;
}

.custom_main_product-color_box {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    transition: 0.3s ease;
    display: block;
}

.custom_main_product-color_box_wrapper {
    border-radius: 50%;
    border: 1px solid transparent;
    display: inline-block;
    transition: 0.3s ease;
    padding: 3px;
}

.custom_main_product-color_option:checked + .custom_main_product-color_box_wrapper {
    border-color: black;
}

.variant-dropdown {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}


@media only screen and (min-width: 1025px) {
    .custom_main_product-section_wrapper {
        display: flex;
        gap: 5.5555vw;
        padding: 5.5555vw 10.4166vw;
    }

    .custom_main_product-swiper {
        width: 36.8055vw;
    }

    .custom_main_product-product_info {
        margin-top: 0;
    }
}