.custom_main_product-section_wrapper {
    display: block;
    padding: 48px 20px;
    font-family: var(--font-body-family);
}

.custom_main_product-section_wrapper {
    p,
    h1,
    h2,
    h3 {
        margin: 0;
        font-family: var(--font-body-family);
    }    
}

.lh-xs {
    line-height: 1.2;
}

.lh-s {
    line-height: 1.3;
}

.lh-m {
    line-height: 1.4;
}

.lh-l {
    line-height: 1.5;
}

.h1 {
    font-size: 28px;
    font-weight: 400;
}

.h2 {
    font-size: 16px;
    font-weight: 400;
}

.p1 {
    font-size: 14px;
    font-weight: 400;
}

.p2 {
    font-size: 12px;
    font-weight: 400;
}

.semi_bold {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.custom_main_product-images_container {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.custom_main_product-swiper {
    width: 100%;
}

.custom_main_product-thumbnails_wrapper {
    display: flex;
    gap: 8.5px;
    width: 100%;
    pointer-events: none;
}

.custom_main_product-thumbnail {
    padding: 1px;
    width: auto !important;
    height: auto !important;
    border: 1px solid transparent;
}

.custom_main_product-main_image img {
    display: block;
    width: 100%;
    height: auto;
}

.custom_main_product-thumbnail img {
    width: 41px;
    height: auto;
    display: block;
}

.custom_main_product-icons_wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; 
    justify-content: center;
}

.custom_main_product-icon {
    height: 26.948vw;
}

.custom_main_product-icon img {
    height: 100%;
    display: block;
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.custom-swiper-button-prev {
    left: 8px;
}

.custom-swiper-button-next {
    right: 8px;
}

.custom-swiper-button-next::after,
.custom-swiper-button-prev::after {
    display: block !important;
    width: 8px;
    height: 16px;
}

.custom_main_product-reviews {
    display: flex;
    margin-bottom: 12px;
}

.custom_main_product-stars {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    margin-right: 8px;
}

.custom_main_product-section_wrapper .custom_main_product-title {
    margin-bottom: 12px;
}

.custom_main_product-what_is_inside-wrapper {
    margin-bottom: 24px;
}

.custom_main_product-what_is_inside-item_title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.custom_main_product-section_wrapper .custom_main_product-description {
    margin-bottom: 16px;
}

.custom_main_product-what_is_inside-title {
    margin-bottom: 8px;
}

.custom_main_product-what_is_inside-description:not(:last-child) {
    margin-bottom: 8px;
}

.custom_main_product-what_is_inside-icon {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.custom_main_product-product_info {
    margin-top: 32px;
}

.custom_main_product-variant_option {
    margin-bottom: 24px;
}

.custom_main_product-variant_title {
    text-transform: uppercase;
    margin-bottom: 16px;
}

.custom_main_product-variant_color {
    display: flex;
    gap: 12px;
}
  
.custom_main_product-color_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.custom_main_product-color_label input {
    display: none;
}

.custom_main_product-color_box {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    transition: 0.3s ease;
    display: block;
}

.custom_main_product-color_box_wrapper {
    border-radius: 50%;
    border: 1px solid transparent;
    display: inline-block;
    transition: 0.3s ease;
    padding: 3px;
}

.custom_main_product-color_option:checked + .custom_main_product-color_box_wrapper {
    border-color: black;
}

.custom_main_product-dropdown_wrapper {
    position: relative;
}

.custom_main_product-variant_dropdown {
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;      
    appearance: none;
}

.custom_main_product-variant_dropdown::-ms-expand {
    display: none;
}

.custom_main_product-custom_dropdown_arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    transition: all .3s ease;
}

.custom_main_product-custom_dropdown.active .custom_main_product-custom_dropdown_arrow {
    transform: translateY(-50%) rotate(-180deg);
}

.custom_main_product-variant_dropdown option {
    font-size: 16px;
    line-height: 1.875;
}


.custom_main_product-custom_dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
}

.custom_main_product-custom_dropdown_selected {
    text-transform: uppercase;
}

.custom_main_product-custom_dropdown_list {
    position: absolute;
    top: calc(100% + 1px);
    left: -1px;
    width: calc(100% + 2px);
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 10;
}

.custom_main_product-custom_dropdown_list .custom_main_product-custom_dropdown_item {
    padding: 10px 20px;
    border-top: none;
    cursor: pointer;
    text-transform: uppercase;
}

.custom_main_product-custom_dropdown.active .custom_main_product-custom_dropdown_list {
    display: block;
}

.custom_main_product-add_to_cart_and_quantity {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.custom_main_product-quantity_selector {
    display: flex;
    align-items: stretch;
    margin-bottom: 12px;
}

.custom_main_product-quantity_btn {
    border: none;
    cursor: pointer;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    background: transparent;
}

#product-quantity {
    width: 100%;
    text-align: center;
    border: none;
    pointer-events: none;
    background: transparent;
    font-family: var(--font-body-family);
    margin-right: -15px;
}

.custom_main_product-add_to_cart {
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
}

.custom_main_product-compare_price {
    text-decoration: line-through;
    color: grey;
}

.custom_main_product-add_to_cart_and_quantity.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.custom_main_product-quantity_btn[disabled] {
    opacity: 0.3;
}

.custom_main_product-add_to_cart_and_quantity.disabled .custom_main_product-quantity_selector,
.custom_main_product-add_to_cart_and_quantity.disabled .custom_main_product-text,
.custom_main_product-add_to_cart_and_quantity.disabled .custom_main_product-price,
.custom_main_product-add_to_cart_and_quantity.disabled .custom_main_product-compare_price {
    display: none;
}

.custom_main_product-out_of_stock {
    display: none;
}

.custom_main_product-add_to_cart_and_quantity.disabled .custom_main_product-out_of_stock {
    display: block;
}

.custom_main_product-free_shipping {
    display: flex;
    justify-content: center;
    letter-spacing: -0.2px;
}

.custom_main_product-installment_payments{
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.2px;
    text-align: center;
}

.custom_main_product-installments_icon {
    display: flex;
}

.custom_main_product-carted_popup {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: white;
    border: 1px solid black;
    padding: 6px 8px 10px 6px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.custom_main_product-carted_popup.active {
    visibility: visible;
    opacity: 1;
}

.custom_main_product-carted_popup-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_main_product-carted_popup-image img {
    width: 57px;
    height: auto;
}

.custom_main_product-carted_popup-product_info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.custom_main_product-carted_popup-title {
    word-break: break-word;
}

.custom_main_product-carted_popup-added {
    color: #009959 !important;
}

.custom_main_product-carted_popup-added_and_view_cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom_main_product-carted_popup-view_cart_link {
    color: black !important;
}

#popup-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
}

@media only screen and (min-width: 1025px) {
    .h1 {
        font-size: 32px;
    }

    .custom_main_product-section_wrapper {
        display: flex;
        gap: 5.490731vw;
        padding: 5.490731vw 10.2951vw;
    }

    .custom_main_product-swiper {
        width: 36.377vw;
    }

    .custom_main_product-thumbnail {
        padding: 3px;
    }

    .custom_main_product-thumbnail img {
        width: 67px;
    }

    .custom_main_product-product_info {
        margin-top: 0;
    }

    .custom_main_product-add_to_cart_and_quantity {
        margin-bottom: 32px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .custom_main_product-quantity_selector {
        width: 116px;
        margin-bottom: 0;
    }

    .custom_main_product-installment_payments {
        flex-basis: 100%;
        order: -1;
    }

    .custom_main_product-icons_wrapper {
        justify-content: space-between;
    }

    .custom_main_product-icon {
        height: 6.728vw;
        width: auto;
    }

    .custom_main_product-icon img {
        height: 100%;
    }

    .custom_main_product-carted_popup {
        top: 20px;
        right: 20px;
        left: auto;
        bottom: auto;
        width: 375px;
        gap: 13px;
    }

    .custom_main_product-carted_popup-product_info {
        margin-right: auto;
    }

    .custom_main_product-reviews {
        margin-bottom: 4px;
    }

    .custom_main_product-title {
        margin-bottom: 8px;
    }

    .custom_main_product-what_is_inside-wrapper {
        margin-bottom: 32px;
    }

    .custom_main_product-variant_option {
        margin-bottom: 32px;
    }

    .custom_main_product-quantity_btn {
        padding: 15px 10px;
    }

    .custom_main_product-add_to_cart_installment_free_shipping-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 132px);
    }

    .custom_main_product-add_to_cart_and_quantity.disabled .custom_main_product-add_to_cart_installment_free_shipping-wrapper {
        width: 100%;
    }
}